# ===== pin_order.cfg for ztachip =====
# Format: <side> <pin_name>
# sides = top | bottom | left | right

# ---- Clock and Reset ----
top clock_in
top clock_x2_in
top reset_in

# ---- AXI Master Inputs ----
left axi_rvalid_in
left axi_rlast_in
left axi_rdata_in[0]
left axi_rdata_in[63]
left axi_arready_in
left axi_awready_in
left axi_wready_in
left axi_bresp_in

# ---- AXI Lite Inputs ----
left axilite_araddr_in[0]
left axilite_araddr_in[23]
left axilite_arvalid_in
left axilite_rready_in
left axilite_awaddr_in[0]
left axilite_awaddr_in[23]
left axilite_awvalid_in
left axilite_wvalid_in
left axilite_wdata_in[0]
left axilite_wdata_in[31]
left axilite_bready_in

# ---- AXI Outputs ----
right axi_araddr_out[0]
right axi_araddr_out[31]
right axi_arlen_out[0]
right axi_arlen_out[2]
right axi_arvalid_out
right axi_rready_out
right axi_arburst_out[0]
right axi_arcache_out[0]
right axi_arid_out
right axi_arlock_out
right axi_arprot_out[0]
right axi_arqos_out[0]
right axi_arsize_out[0]

# ---- AXI Write Outputs ----
right axi_awaddr_out[0]
right axi_awaddr_out[31]
right axi_awlen_out[0]
right axi_awvalid_out
right axi_waddr_out[0]
right axi_wvalid_out
right axi_wdata_out[0]
right axi_wdata_out[63]
right axi_wlast_out
right axi_wbe_out[0]
right axi_awburst_out[0]
right axi_awcache_out[0]
right axi_awid_out
right axi_awlock_out
right axi_awprot_out[0]
right axi_awqos_out[0]
right axi_awsize_out[0]
right axi_bready_out

# ---- AXI Lite Outputs ----
bottom axilite_arready_out
bottom axilite_rvalid_out
bottom axilite_rlast_out
bottom axilite_rdata_out[0]
bottom axilite_rdata_out[31]
bottom axilite_rresp_out[0]
bottom axilite_awready_out
bottom axilite_wready_out
bottom axilite_bvalid_out
bottom axilite_bresp_out[0]
